# WPIlib Specific

dependency-reduced-pom.xml
doxygen.log
build*/
!buildSrc/

simgui-ds.json
simgui-window.json
simgui.json

networktables.json

# Created by the jenkins test script
test-reports

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Fleet
.fleet

# Created by http://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### CMake ###
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


### Vagrant ###
.vagrant/


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

### Python ###
*.pyc
__pycache__

# Gradle wrapper
!gradle-wrapper.jar

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

#catkin stuff
package.xml

# Doxygen stuff
NO

# Simulation folder stuff
!simulation/install_resources/*

# VSCode
.vscode/

#classpaths and projects
.project
.classpath

#Visual Studio
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeSettings.json

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.VC.db-shm
*.VC.db-wal

*.sln
*.vcxproj
*.vcxproj.filters

# Visual Studio 2015 cache/options directory
.vs/

# compile_commands
compile_commands.json

# clang configuration and clangd cache
.clang
.clangd/
.cache/

imgui.ini

# Bazel
/.ijwb/
/bazel-*
user.bazelrc
coverage_report/
