Source: frcsim-eclipse-plugins
Maintainer: Alex Henning <alex@thoriumrobotics.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)

Package: frcsim-eclipse-plugins
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eclipse, eclipse-jdt, eclipse-cdt, eclipse-rse, eclipse-cdt-launch-remote, g++, libwebkitgtk-1.0-0, frcsim-libwpilibsim-cpp
Description: FRC plugin for developing code for RoboRIO and WPILibSim.
 This plugin allows the usage of eclipse for development of WPILib
 robot code for the RoboRIO and simulation in gazebo.