Source: frcsim-gazebo-plugins
Maintainer: Alex Henning <alex@thoriumrobotics.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), ros-indigo-ros-base, gazebo2, libtinyxml2-dev

Package: frcsim-gazebo-plugins
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo2, libtinyxml2-dev
Description: FRC plugin for controlling robots in the gazebo plugin.
 This plugin allows robots in gazebo to communicate with WPILib
 programs and enables the control of the robots.