<?xml version="1.0"?>
<model>
  <name>frc_2014_ball_red</name>
  <version>1.0</version>
  <sdf version='1.4'>frc_2014_ball_red.sdf</sdf>
  <author>
    <name>Morgan Quigley</name>
    <email>morgan@osrfoundation.org</email>
  </author>
  <description>
    Simple model for the ball from FRC 2014.
  </description>
</model>
