// Copyright (c) FIRST and other WPILib contributors.
// Open Source Software; you can modify and/or share it under the terms of
// the WPILib BSD license file in the root directory of this project.

package edu.wpi.first.networktables;

/** NetworkTables {{ TypeName }} implementation. */
@SuppressWarnings("PMD.ArrayIsStoredDirectly")
final class {{ TypeName }}EntryImpl extends EntryBase implements {{ TypeName }}Entry {
  /**
   * Constructor.
   *
   * @param topic Topic
   * @param handle Native handle
   * @param defaultValue Default value for get()
   */
  {{ TypeName }}EntryImpl({{ TypeName }}Topic topic, int handle, {{ java.ValueType }} defaultValue) {
    super(handle);
    m_topic = topic;
    m_defaultValue = defaultValue;
  }

  @Override
  public {{ TypeName }}Topic getTopic() {
    return m_topic;
  }

  @Override
  public {{ java.ValueType }} get() {
    return NetworkTablesJNI.get{{ TypeName }}(m_handle, m_defaultValue);
  }

  @Override
  public {{ java.ValueType }} get({{ java.ValueType }} defaultValue) {
    return NetworkTablesJNI.get{{TypeName}}(m_handle, defaultValue);
  }

  @Override
  public Timestamped{{ TypeName }} getAtomic() {
    return NetworkTablesJNI.getAtomic{{ TypeName }}(m_handle, m_defaultValue);
  }

  @Override
  public Timestamped{{ TypeName }} getAtomic({{ java.ValueType }} defaultValue) {
    return NetworkTablesJNI.getAtomic{{ TypeName }}(m_handle, defaultValue);
  }

  @Override
  public Timestamped{{ TypeName }}[] readQueue() {
    return NetworkTablesJNI.readQueue{{ TypeName }}(m_handle);
  }

  @Override
  public {{ java.ValueType }}[] readQueueValues() {
    return NetworkTablesJNI.readQueueValues{{ TypeName }}(m_handle);
  }

  @Override
  public void set({{ java.ValueType }} value, long time) {
    NetworkTablesJNI.set{{ TypeName }}(m_handle, time, value);
  }

  @Override
  public void setDefault({{ java.ValueType }} value) {
    NetworkTablesJNI.setDefault{{ TypeName }}(m_handle, 0, value);
  }

  @Override
  public void unpublish() {
    NetworkTablesJNI.unpublish(m_handle);
  }

  private final {{ TypeName }}Topic m_topic;
  private final {{ java.ValueType }} m_defaultValue;
}
