[build-system]
build-backend = "hatchling.build"
requires = [
    "semiwrap~=0.2.1",
    "hatch-meson~=0.1.0",
    "hatchling",
    "pyntcore==0.0.0",
    "robotpy-native-wpihal==0.0.0",
    "robotpy-wpiutil==0.0.0",
]

[project]
name = "robotpy-hal"
version = "0.0.0"
description = "Binary wrapper for FRC HAL"
authors = [
    {name = "RobotPy Development Team", email = "robotpy@googlegroups.com"},
]
license = "BSD-3-Clause"
dependencies = [
    "pyntcore==0.0.0",
    "robotpy-native-wpihal==0.0.0",
    "robotpy-wpiutil==0.0.0",
]

[project.urls]
"Source code" = "https://github.com/robotpy/mostrobotpy"


[tool.hatch.build.hooks.robotpy]
version_file = "hal/version.py"

[tool.hatch.build.hooks.semiwrap]

[tool.hatch.build.hooks.meson]

[tool.hatch.build.targets.wheel]
packages = ["hal"]


[tool.semiwrap]
update_init = []
scan_headers_ignore = [
    "wpi/hal/Errors.h",
    "wpi/hal/HAL.h",
    "wpi/hal/IMU.h",
    "wpi/hal/IMUTypes.h",
    "wpi/hal/SystemServer.h",
    "wpi/hal/Types.h",
    "wpi/hal/Value.h",

    "wpi/hal/cpp/fpga_clock.h",

    "wpi/hal/handles/DigitalHandleResource.h",
    "wpi/hal/handles/IndexedClassedHandleResource.h",
    "wpi/hal/handles/IndexedHandleResource.h",
    "wpi/hal/handles/LimitedClassedHandleResource.h",
    "wpi/hal/handles/LimitedHandleResource.h",
    "wpi/hal/handles/UnlimitedHandleResource.h",

    "wpi/hal/proto/*",

    "wpi/hal/simulation/CanData.h",
    "wpi/hal/simulation/I2CData.h",
    "wpi/hal/simulation/NotifyListener.h",
    "wpi/hal/simulation/SimCallbackRegistry.h",
    "wpi/hal/simulation/SimDataValue.h",

    # TODO: might want this in the future
    "mrc/*",

    "src/ds_types_fmt.h",
    "sim_cb.h",
    "sim_value_cb.h",
]

[tool.semiwrap.extension_modules."hal._wpiHal"]
name = "wpihal"
wraps = ["robotpy-native-wpihal"]
depends = ["wpiutil", "ntcore"]

[tool.semiwrap.extension_modules."hal._wpiHal".headers]
# hal
AddressableLED = "wpi/hal/AddressableLED.h"
AddressableLEDTypes = "wpi/hal/AddressableLEDTypes.h"
AnalogInput = "wpi/hal/AnalogInput.h"
CAN = "wpi/hal/CAN.h"
CANAPI = "wpi/hal/CANAPI.h"
CANAPITypes = "wpi/hal/CANAPITypes.h"
CTREPCM = "wpi/hal/CTREPCM.h"
Constants = "wpi/hal/Constants.h"
Counter = "wpi/hal/Counter.h"
DIO = "wpi/hal/DIO.h"
# DMA = "hal/DMA.h"
DriverStation = "wpi/hal/DriverStation.h"
DriverStationTypes = "wpi/hal/DriverStationTypes.h"
DutyCycle = "wpi/hal/DutyCycle.h"
Encoder = "wpi/hal/Encoder.h"
# Errors = "wpi/hal/Errors.h"
Extensions = "wpi/hal/Extensions.h"
# HAL = "wpi/hal/HAL.h"
HALBase = "wpi/hal/HALBase.h"
I2C = "wpi/hal/I2C.h"
I2CTypes = "wpi/hal/I2CTypes.h"
# IMU = "wpi/hal/IMU.h"
# IMUTypes = "wpi/hal/IMUTypes.h"
Main = "wpi/hal/Main.h"
Notifier = "wpi/hal/Notifier.h"
PWM = "wpi/hal/PWM.h"
Ports = "wpi/hal/Ports.h"
Power = "wpi/hal/Power.h"
PowerDistribution = "wpi/hal/PowerDistribution.h"
REVPH = "wpi/hal/REVPH.h"
SerialPort = "wpi/hal/SerialPort.h"
SimDevice = "wpi/hal/SimDevice.h"
UsageReporting = "wpi/hal/UsageReporting.h"
Threads = "wpi/hal/Threads.h"
# Types = "wpi/hal/Types.h"
# Value = "wpi/hal/Value.h"

# hal/cpp
# fpga_clock = "wpi/hal/cpp/fpga_clock.h"

# hal/handles
# DigitalHandleResource = "wpi/hal/handles/DigitalHandleResource.h"
HandlesInternal = "wpi/hal/handles/HandlesInternal.h"
# IndexedClassedHandleResource = "wpi/hal/handles/IndexedClassedHandleResource.h"
# IndexedHandleResource = "wpi/hal/handles/IndexedHandleResource.h"
# LimitedClassedHandleResource = "wpi/hal/handles/LimitedClassedHandleResource.h"
# LimitedHandleResource = "wpi/hal/handles/LimitedHandleResource.h"
# UnlimitedHandleResource = "wpi/hal/handles/UnlimitedHandleResource.h"


[tool.semiwrap.extension_modules."hal.simulation._simulation"]
name = "hal_simulation"
wraps = ["robotpy-native-wpihal"]
depends = ["wpiutil", "ntcore"]
yaml_path = "semiwrap/simulation"

[tool.semiwrap.extension_modules."hal.simulation._simulation".headers]
AddressableLEDData = "wpi/hal/simulation/AddressableLEDData.h"
AnalogInData = "wpi/hal/simulation/AnalogInData.h"
CTREPCMData = "wpi/hal/simulation/CTREPCMData.h"
# CanData = "wpi/hal/simulation/CanData.h"
DIOData = "wpi/hal/simulation/DIOData.h"
DigitalPWMData = "wpi/hal/simulation/DigitalPWMData.h"
DriverStationData = "wpi/hal/simulation/DriverStationData.h"
DutyCycleData = "wpi/hal/simulation/DutyCycleData.h"
EncoderData = "wpi/hal/simulation/EncoderData.h"
# I2CData = "wpi/hal/simulation/I2CData.h"
MockHooks = "wpi/hal/simulation/MockHooks.h"
NotifierData = "wpi/hal/simulation/NotifierData.h"
# NotifyListener = "wpi/hal/simulation/NotifyListener.h"
PWMData = "wpi/hal/simulation/PWMData.h"
PowerDistributionData = "wpi/hal/simulation/PowerDistributionData.h"
REVPHData = "wpi/hal/simulation/REVPHData.h"
Reset = "wpi/hal/simulation/Reset.h"
RoboRioData = "wpi/hal/simulation/RoboRioData.h"
# SimCallbackRegistry = "wpi/hal/simulation/SimCallbackRegistry.h"
# SimDataValue = "wpi/hal/simulation/SimDataValue.h"
SimDeviceData = "wpi/hal/simulation/SimDeviceData.h"
