[build-system]
build-backend = "hatchling.build"
requires = [
    "semiwrap~=0.2.1",
    "hatch-meson~=0.1.0",
    "hatchling",
    "pyntcore==0.0.0",
    "robotpy-native-wpihal==0.0.0",
    "robotpy-wpiutil==0.0.0",
]

[project]
name = "robotpy-hal"
version = "0.0.0"
description = "Binary wrapper for FRC HAL"
authors = [
    {name = "RobotPy Development Team", email = "robotpy@googlegroups.com"},
]
license = "BSD-3-Clause"
dependencies = [
    "pyntcore==0.0.0",
    "robotpy-native-wpihal==0.0.0",
    "robotpy-wpiutil==0.0.0",
]

[project.urls]
"Source code" = "https://github.com/robotpy/mostrobotpy"


[tool.hatch.build.hooks.robotpy]
version_file = "hal/version.py"

[tool.hatch.build.hooks.semiwrap]

[tool.hatch.build.hooks.meson]

[tool.hatch.build.targets.wheel]
packages = ["hal"]


[tool.semiwrap]
update_init = []

# NOTE: By default we ignore all HAL APIs, as most of them are exposed in WPILib
# somewhere. If you find something that you need, file a bug and we can add it!

scan_headers_ignore = [
    "wpi/hal/*",

    # TODO: might want this in the future
    "mrc/*",

    "src/ds_types_fmt.h",
    "sim_cb.h",
    "sim_value_cb.h",
]

[tool.semiwrap.extension_modules."hal._wpiHal"]
name = "wpihal"
wraps = ["robotpy-native-wpihal"]
depends = ["wpiutil", "ntcore"]

[tool.semiwrap.extension_modules."hal._wpiHal".headers]
# hal
CANAPITypes = "wpi/hal/CANAPITypes.h"
DriverStation = "wpi/hal/DriverStation.h"
DriverStationTypes = "wpi/hal/DriverStationTypes.h"
Extensions = "wpi/hal/Extensions.h"
HALBase = "wpi/hal/HALBase.h"
Main = "wpi/hal/Main.h"
Notifier = "wpi/hal/Notifier.h"
SimDevice = "wpi/hal/SimDevice.h"
Threads = "wpi/hal/Threads.h"
UsageReporting = "wpi/hal/UsageReporting.h"

[tool.semiwrap.extension_modules."hal.simulation._simulation"]
name = "hal_simulation"
wraps = ["robotpy-native-wpihal"]
depends = ["wpiutil", "ntcore"]
yaml_path = "semiwrap/simulation"

[tool.semiwrap.extension_modules."hal.simulation._simulation".headers]
DriverStationData = "wpi/hal/simulation/DriverStationData.h"
MockHooks = "wpi/hal/simulation/MockHooks.h"
NotifierData = "wpi/hal/simulation/NotifierData.h"
Reset = "wpi/hal/simulation/Reset.h"
SimDeviceData = "wpi/hal/simulation/SimDeviceData.h"
