<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="WPILib Robot C++ Development"
            id="edu.wpi.first.wpilib.plugins.cpp">
      </category>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.newproject.NewCPPWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="resources/icons/wpi.ico"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.newproject.NewCPPWizard"
            name="Robot C++ Project"
            project="true">
      </wizard>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.examples.ExampleCPPWizard"
            icon="resources/icons/wpi.ico"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.examples.ExampleWizard"
            name="Example Robot C++ Project"
            project="true">
      </wizard>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.CommandWizard"
            icon="resources/icons/Command.png"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.CommandWizard"
            name="Command">
      </wizard>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.CommandGroupWizard"
            icon="resources/icons/CommandGroup.png"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.CommandGroupWizard"
            name="CommandGroup">
      </wizard>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.SubsystemWizard"
            icon="resources/icons/Subsystem.png"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.SubsystemWizard"
            name="Subsytem">
      </wizard>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.PIDSubsystemWizard"
            icon="resources/icons/PIDSubsystem.png"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.PIDSubsystemWizard"
            name="PIDSubsystem">
      </wizard>
      <wizard
            category="edu.wpi.first.wpilib.plugins.cpp"
            class="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.TriggerWizard"
            icon="resources/icons/Button.png"
            id="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.TriggerWizard"
            name="Trigger">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="edu.wpi.first.wpilib.plugins.cpp"
            type="new"
            wizardId="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.CommandWizard">
         <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.wpilib.plugins.cpp"
            type="new"
            wizardId="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.CommandGroupWizard">
         <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.wpilib.plugins.cpp"
            type="new"
            wizardId="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.SubsystemWizard">
         <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.wpilib.plugins.cpp"
            type="new"
            wizardId="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.PIDSubsystemWizard">
         <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.wpilib.plugins.cpp"
            type="new"
            wizardId="edu.wpi.first.wpilib.plugins.cpp.wizards.file_template.TriggerWizard">
         <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
         </enablement>
      </commonWizard>
   </extension>
   <extension
       point="org.eclipse.ui.preferencePages">
      <page
            category="edu.wpi.first.wpilib.plugins.core.preferences.WPILibPreferencePage"
            class="edu.wpi.first.wpilib.plugins.cpp.preferences.CPPPreferencePage"
            id="edu.wpi.first.wpilib.plugins.cpp.preferences.CPPPreferencePage"
            name="C++ Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.wpi.first.wpilib.plugins.cpp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="edu.wpi.first.wpilib.plugins.cpp.launching.DeployLaunchShortcut"
            description="Deploy the WPILib project to the roboRIO"
            icon="resources/icons/wpi.ico"
            id="edu.wpi.first.wpilib.plugins.cpp.launching.deploy"
            label="WPILib C++ Deploy"
            modes="run,debug">
            <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Deploy the WPILib project to the roboRIO"
               mode="run">
         </description>
         <description
               description="Deploy the WPILib project to the roboRIO"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
            class="edu.wpi.first.wpilib.plugins.cpp.launching.SimulateLaunchShortcut"
            description="Test the WPILib project using the Gazebo simulator."
            icon="resources/icons/Gazebo.png"
            id="edu.wpi.first.wpilib.plugins.cpp.launching.simulate"
            label="WPILib C++ Simulation"
            modes="run,debug">
            <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <test
                            value="edu.wpi.first.wpilib.plugins.core.nature.FRCProjectNature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                        <test
                            value="org.eclipse.cdt.core.cnature"
                            property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Test the WPILib project using the Gazebo simulator."
               mode="run">
         </description>
         <description
               description="Debug the WPILib project using the Gazebo simulator."
               mode="debug">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.wpi.first.wpilib.plugins.cpp.WPILibCPPPlugin">
      </startup>
   </extension>
</plugin>
