[build-system]
build-backend = "hatchling.build"
requires = [
    "semiwrap~=0.2.1",
    "hatch-meson~=0.1.0",
    "hatch-robotpy~=0.2.1",
    "hatchling",
    "robotpy-native-apriltag==0.0.0",
    "robotpy-wpiutil==0.0.0",
    "robotpy-wpimath==0.0.0",
]

[project]
name = "robotpy-apriltag"
version = "0.0.0"
description = "RobotPy bindings for WPILib's AprilTag library"
authors = [
    {name = "RobotPy Development Team", email = "robotpy@googlegroups.com"},
]
license = "BSD-3-Clause"
dependencies = [
    "robotpy-native-apriltag==0.0.0",
    "robotpy-wpiutil==0.0.0",
    "robotpy-wpimath==0.0.0",
]

[project.urls]
"Source code" = "https://github.com/robotpy/mostrobotpy"


[tool.hatch.build.hooks.robotpy]
version_file = "robotpy_apriltag/version.py"

[tool.hatch.build.hooks.semiwrap]

[tool.hatch.build.hooks.meson]

[tool.hatch.build.targets.wheel]
packages = ["robotpy_apriltag"]


[tool.semiwrap]
update_init = [
  "robotpy_apriltag robotpy_apriltag._apriltag"
]
scan_headers_ignore = [
  "common/*",
  "test/*",

  "apriltag.h",
  "apriltag_math.h",
  "apriltag_pose.h",

  "wpi/apriltag/AprilTagDetector_cv.hpp",

  "tag16h5.h",
  "tag36h11.h",
]

[tool.semiwrap.extension_modules."robotpy_apriltag._apriltag"]
name = "apriltag"
wraps = ["robotpy-native-apriltag"]
depends = ["wpiutil", "wpimath"]

[tool.semiwrap.extension_modules."robotpy_apriltag._apriltag".headers]
# frc/apriltag
AprilTag = "wpi/apriltag/AprilTag.hpp"
AprilTagDetection = "wpi/apriltag/AprilTagDetection.hpp"
AprilTagDetector = "wpi/apriltag/AprilTagDetector.hpp"
# AprilTagDetector_cv = "wpi/apriltag/AprilTagDetector_cv.hpp"
AprilTagFieldLayout = "wpi/apriltag/AprilTagFieldLayout.hpp"
AprilTagFields = "wpi/apriltag/AprilTagFields.hpp"
AprilTagPoseEstimate = "wpi/apriltag/AprilTagPoseEstimate.hpp"
AprilTagPoseEstimator = "wpi/apriltag/AprilTagPoseEstimator.hpp"
