###############################
# Linux Common
###############################

# C++ only
common:base_linux --repo_env=BAZEL_CXXOPTS="-Wall:-Wextra:-Werror:-std=c++20:-Wformat=2:-pedantic:-Wno-psabi:-Wno-unused-parameter:-fPIC:-pthread:-Wno-deprecated-enum-enum-conversion"

# C Only
common:base_linux --repo_env=BAZEL_CONLYOPTS="-Wall:-Wextra:-Werror:-Wformat=2:-pedantic:-Wno-psabi:-Wno-unused-parameter:-fPIC:-pthread"

# Linker
common:base_linux --repo_env=BAZEL_LINKOPTS="-rdynamic:-pthread:-ldl:-latomic:-Wl,-rpath,'$ORIGIN'"
