common:macos --repo_env=BAZEL_COPTS="-Wall:-Wextra:-Werror:-Wno-shorten-64-to-32:-Wno-gcc-compat"
common:macos --host_per_file_copt=external/.*@-Wno-deprecated-non-prototype,-Wno-unused-function,-Wno-sign-compare

# C++ only
common:macos --repo_env=BAZEL_CXXOPTS="-std=c++20:-pedantic:-fPIC:-Wno-unused-parameter:-Wno-error=deprecated-enum-enum-conversion:-Wno-missing-field-initializers:-Wno-unused-private-field:-Wno-unused-const-variable:-Wno-error=c11-extensions:-pthread:-Wno-deprecated-anon-enum-enum-conversion"

# C only
common:macos --repo_env=BAZEL_CONLYOPTS="-pedantic:-fPIC:-Wno-unused-parameter:-Wno-missing-field-initializers:-Wno-unused-private-field:-Wno-fixed-enum-extension"

common:macos --repo_env=BAZEL_LINKOPTS="-Wl,-rpath,'@loader_path'"

common:macos --host_per_file_copt=external/.*@-Wno-pedantic
common:macos --per_file_copt=external/.*@-Wno-pedantic

common:macos --host_per_file_copt=external/.*\.c$@-Wno-c11-extensions
common:macos --per_file_copt=external/.*\.c$@-Wno-c11-extensions
