
build:windows_arm --cpu=arm64_windows

# Warning level
build:windows_arm --copt=/W3
build:windows_arm --copt=/WX

# C++ options
build:windows_arm --cxxopt=/utf-8
build:windows_arm --cxxopt=/EHsc
build:windows_arm --cxxopt=/FS
build:windows_arm --cxxopt=/Zc:inline
build:windows_arm --cxxopt=/wd4244
build:windows_arm --cxxopt=/wd4267
build:windows_arm --cxxopt=/wd4146
build:windows_arm --cxxopt=/wd4996
build:windows_arm --cxxopt=/Zc:throwingNew
build:windows_arm --cxxopt=/D_CRT_SECURE_NO_WARNINGS
build:windows_arm --cxxopt=/std:c++20
build:windows_arm --cxxopt=/permissive-
build:windows_arm --cxxopt=/bigobj
build:windows_arm --cxxopt=/Zc:__cplusplus
build:windows_arm --cxxopt=/Zc:preprocessor
build:windows_arm --cxxopt=/wd5105

# C Only
build:windows_arm --conlyopt=/FS
build:windows_arm --conlyopt=/Zc:inline
build:windows_arm --conlyopt=/D_CRT_SECURE_NO_WARNINGS

build:windows_arm --linkopt=/IGNORE:4099

# TODO there is a "bug" in bazel that forces "/D_WIN32_WINNT=0x0601". Remove it from the files that break because of this.
build:windows_arm --per_file_copt=wpiutil/src/main/native/cpp/timestamp.cpp,wpinet/src/main/native/thirdparty/libuv/src/win/util.cpp,hal/src/main/native/sim/HAL.cpp@/U_WIN32_WINNT