Source: frcsim-gazebo-models
Maintainer: Alex Henning <alex@thoriumrobotics.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)

Package: frcsim-gazebo-models
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, frcsim-gazebo-plugins
Description: FRC models that can be used in Gazebo.
 Models that can be used in Gazebo to simulate FRC-like
 robots are controllable through WPILibSim (Java or C++)