name: Bazel

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: "Linux System Core", classifier: "linuxsystemcore",                 os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux System Core Debug", classifier: "linuxsystemcoredebug",            os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux System Core Static", classifier: "linuxsystemcorestatic",           os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux System Core Static Debug", classifier: "linuxsystemcorestaticdebug",    os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux x86-64",      classifier: "linuxx86-64,headers,sources",     os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux x86-64 Debug",  classifier: "linuxx86-64debug",                os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux x86-64 Static", classifier: "linuxx86-64static",               os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }
          - { name: "Linux x86-64 Static Debug", classifier: "linuxx86-64staticdebug",        os: ubuntu-24.04, container: "wpilib/systemcore-cross-ubuntu:2027-24.04" }

          - { name: "macOS Universal",   classifier: "osxuniversal,headers,sources",    os: macOS-15 }
          - { name: "macOS Universal Debug", classifier: "osxuniversaldebug",               os: macOS-15 }
          - { name: "macOS Universal Static", classifier: "osxuniversalstatic",              os: macOS-15 }
          - { name: "macOS Universal Static Debug", classifier: "osxuniversalstaticdebug",         os: macOS-15 }

          - { name: "Windows x86-64",      classifier: "windowsx86-64,headers,sources",   os: windows-2022 }
          - { name: "Windows x86-64 Debug",  classifier: "windowsx86-64debug",              os: windows-2022 }
          - { name: "Windows x86-64 Static", classifier: "windowsx86-64static",             os: windows-2022 }
          - { name: "Windows x86-64 Static Debug", classifier: "windowsx86-64staticdebug",        os: windows-2022 }

          - { name: "Windows ARM64",       classifier: "windowsarm64",                    os: windows-2022 }
          - { name: "Windows ARM64 Debug",   classifier: "windowsarm64debug",               os: windows-2022 }
          - { name: "Windows ARM64 Static",  classifier: "windowsarm64static",              os: windows-2022 }
          - { name: "Windows ARM64 Static Debug",  classifier: "windowsarm64staticdebug",         os: windows-2022 }

          - { name: "Test System Core from Windows", classifier: "linuxsystemcore", os: windows-2022 }
          - { name: "Test System Core from macOS", classifier: "linuxsystemcore", os: macOS-15 }

    name: "Build ${{ matrix.name }}"
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - if: matrix.os == 'windows-2022' || matrix.os == 'macOS-15'
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          architecture: x64

      - if: matrix.os == 'ubuntu-24.04'
        uses: bazelbuild/setup-bazelisk@v3

      - id: Setup_bazel_remote
        uses: ./.github/actions/setup-bazel-remote
        with:
          username: ${{ secrets.BAZEL_CACHE_USERNAME }}
          password: ${{ secrets.BAZEL_CACHE_PASSWORD }}

      - if: matrix.os == 'ubuntu-24.04'
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          repository-cache: true
          bazelisk-version: 1.x

      - name: bazel build
        run: |
          if [[ "${{ matrix.os }}" == "windows-2022" ]]; then
            bazel --output_user_root=C:\bazelroot build ... --config=ci -c opt
          elif [[ "${{ matrix.os }}" == "macOS-15" ]]; then
            bazel build ... --config=ci -c opt --nojava_header_compilation
          else
            bazel build ... --config=ci -c opt
          fi
        shell: bash
        env:
          WPI_PUBLISH_CLASSIFIER_FILTER: ${{ matrix.classifier }}

  buildifier:
    name: "buildifier"
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Go 1.15.x
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version: 1.15.x
        id: go

      - name: Install Buildifier
        run: |
          cd $(mktemp -d)
          GO111MODULE=on go get github.com/bazelbuild/buildtools/buildifier@6.0.0

      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Run buildifier
        run: buildifier -warnings all --lint=fix -r .

      - name: Check Output
        run: git --no-pager diff --exit-code HEAD

      - name: Generate diff
        run: git diff HEAD > bazel-lint-fixes.patch
        if: ${{ failure() }}

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-bazel-lint-fixes
          path: bazel-lint-fixes.patch
        if: ${{ failure() }}

  robotpy_pregeneration:
    name: "Robotpy Pregeneration"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - id: Setup_build_buddy
        uses: ./.github/actions/setup-build-buddy
        with:
          token: ${{ secrets.BUILDBUDDY_API_KEY }}

      # You should ensure the headers are correct before trying to pregen files
      - name: Test Scan Headers
        run: bazel test //... -k --test_tag_filters=robotpy_scan_headers --build_tests_only
        shell: bash

      - name: Run robotpy pregeneration
        run: bazel run //:write_robotpy_files

      - name: Check Output
        run: git --no-pager diff --exit-code HEAD

      - name: Generate diff
        run: git diff HEAD > robotpy-pregeneration.patch
        if: ${{ failure() }}

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-robotpy-pregeneration-fixes
          path: robotpy-pregeneration-fixes.patch
        if: ${{ failure() }}
