name: Cancel Previous Runs

on:
  push:
    branches-ignore:
      - 'master'
  pull_request:

jobs:
  cancel:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.6.0
        with:
          workflow_id: cmake,documentation,gazebo,gradle,lint-format
          access_token: ${{ github.token }}
 