name: Gazebo

on: [pull_request, push]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-20.04
    container: wpilib/gazebo-ubuntu:18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build with Gradle
        run: ./gradlew simulation:frc_gazebo_plugins:build simulation:halsim_gazebo:build -PbuildServer -PforceGazebo
